.topnav {
    background-color: #18185C;
    overflow: auto;
    width: 100%;
}

 /* Style the links inside the navigation bar */
 .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial;
    width: 30%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ff0000;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #18185C;
    color: white;
  }


  h1 {
    font-size: 23px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
  }
  
  h3 {
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:rgb(2, 0, 0);
    font-weight: bold;

  }

  h4 {
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blue;
    font-style: italic;
    font-weight: bold;
  }
  
  table {
    width: 90%;
    background-color: #18185C;
    border-collapse: collapse;
    border: 1px solid;
    margin-left:auto;
    margin-right: auto;
  }

  p {
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }

  label {
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }

  form {
    text-align: center;
  }

  select {
    width: 70%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    padding-left: 30px;
  }

  button {
    text-decoration: none;
    border: 0.2px solid #000;
    color: #000;
    background: #e6e4e4;
    padding: 5px;
    border-radius: 1px;
  }
  /*Referencing: FreeCodeCamp */

  .bottomNav {
    background-color: white;
    overflow: auto;
    width: 100%;
    bottom: 0;
    padding-top: 40px;
}

 /* Style the links inside the navigation bar */
 .bottomNav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial;
    width: 22%;
  }
  
  /* Change the color of links on hover */
  .bottomNav a:hover {
    background-color: #18185C;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .bottomNav a.active {
    background-color: white;
    color: white;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
  }
  
  div.gallery:hover {
    border: 5px solid black;
    width: 305px;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
  }